<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:p="http://www.springframework.org/schema/p"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xmlns:aop="http://www.springframework.org/schema/aop"-->
       <!--xmlns:tx="http://www.springframework.org/schema/tx"-->
       <!--xmlns:util="http://www.springframework.org/schema/util"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
    <!--http://www.springframework.org/schema/beans/spring-beans-3.2.xsd-->
    <!--http://www.springframework.org/schema/context-->
    <!--http://www.springframework.org/schema/context/spring-context-3.2.xsd-->
    <!--http://www.springframework.org/schema/tx-->
    <!--http://www.springframework.org/schema/tx/spring-tx-3.2.xsd-->
    <!--http://www.springframework.org/schema/aop-->
    <!--http://www.springframework.org/schema/aop/spring-aop-3.2.xsd-->
    <!--http://www.springframework.org/schema/util-->
    <!--http://www.springframework.org/schema/util/spring-util-3.2.xsd">-->

    <!--<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">-->
        <!--<constructor-arg index="0" ref="sqlSessionFactory" />-->
    <!--</bean>-->

    <!--<context:property-placeholder location="file:src/main/webapp/WEB-INF/jdbc.properties"/>-->

    <!--<bean id="dataSource" clasÒs="com.alibaba.druid.pool.DruidDataSource" init-method="init"-->
          <!--destroy-method="close" >-->
        <!--<property name="driverClassName">-->
            <!--<value>${jdbc_driverClassName}</value>-->
        <!--</property>-->
        <!--<property name="url">-->
            <!--<value>${jdbc_url}</value>-->
        <!--</property>-->
        <!--<property name="username">-->
            <!--<value>${jdbc_username}</value>-->
            <!--<value>${jdbc_username}</value>-->
        <!--</property>-->
        <!--<property name="password">-->
            <!--<value>${jdbc_password}</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 连接池最大使用连接数 &ndash;&gt;-->
        <!--<property name="maxActive">-->
            <!--<value>20</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 初始化连接大小 &ndash;&gt;-->
        <!--<property name="initialSize">-->
            <!--<value>1</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 获取连接最大等待时间 &ndash;&gt;-->
        <!--<property name="maxWait">-->
            <!--<value>60000</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 连接池最大空闲 &ndash;&gt;-->
        <!--<property name="maxIdle">-->
            <!--<value>20</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 连接池最小空闲 &ndash;&gt;-->
        <!--<property name="minIdle">-->
            <!--<value>3</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 自动清除无用连接 &ndash;&gt;-->
        <!--<property name="removeAbandoned">-->
            <!--<value>true</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 清除无用连接的等待时间 &ndash;&gt;-->
        <!--<property name="removeAbandonedTimeout">-->
            <!--<value>180</value>-->
        <!--</property>-->
        <!--&lt;!&ndash; 连接属性 &ndash;&gt;-->
        <!--<property name="connectionProperties">-->
            <!--<value>clientEncoding=UTF-8</value>-->
        <!--</property>-->
    <!--</bean>-->


    <!--&lt;!&ndash; mybatis文件配置，扫描所有mapper文件 &ndash;&gt;-->
    <!--<bean id="sqlSessionFactory"-->
          <!--class="org.mybatis.spring.SqlSessionFactoryBean"-->
          <!--p:dataSource-ref="dataSource"-->
          <!--p:configLocation="file:src/main/webapp/WEB-INF/mybatis-config.xml"-->
          <!--p:mapperLocations="file:src/main/webapp/WEB-INF/mapper/*.xml"/>&lt;!&ndash; configLocation为mybatis属性-->
          <!--mapperLocations为所有mapper&ndash;&gt;-->


<!--</beans>-->